#select-a-state {
  .state {
    float: left;
    margin: 20px;
    text-align: center;
    width: 100px;
  }
  .name {
    display: block;
  }
  .icon {
    display: block;
    font-family: statefaceregular;
    font-size: 72px;
    line-height: 1.5em;
  }
}
