@font-face {
    font-family: 'statefaceregular';
    src: url('../assets/fonts/stateface-regular-webfont.eot');
    src: url('../assets/fonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/stateface-regular-webfont.woff') format('woff'),
         url('../assets/fonts/stateface-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/stateface-regular-webfont.svg#statefaceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#select-a-state {
  .state {
    float: left;
    margin: 20px;
    text-align: center;
    width: 100px;
  }
  .name {
    display: block;
  }
  .icon {
    display: block;
    font-family: statefaceregular;
    font-size: 72px;
    line-height: 1.5em;
  }
}

.donor-list {
  .donor {
    float: left;
    clear: both;
    margin: 0 0 40px 0;
  }
  .donor-name-image {
    float: left;
    margin: 0 20px 20px 0;
  }
  .donor-stats {
    float: left;

    h2,
    .city-state,
    .title-business {
      text-align: center;
    }

    .recipients {
      width: 100%;
      float: left;
      margin: 0 0 8px 0;

      p, ol, li {
        margin: 0;
        padding: 0;
      }
      li {
        list-style-position: inside;
        &.odd {
          background: #f1f1f1;
        }
      }

      .currency {
        float: right;
        margin-left: 20px;
      }
    }
  }
  .donation-breakdown {
    width: 100%;
    clear: both;
    border-top: 1px solid #ccc;
    margin: 10px 0 0 0;
    h3 {
      text-align: center;
    }
  }
}

