<div class="modal embed-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close exit" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="modalLabel">Embed: <%= name %></h4>
      </div>
      <div class="modal-body">
        <p>Use the code below to embed <% if (type == 'state') { %>the <% } %><%= name %><% if (type == 'state') { %> Power Players list on your site.<% } else { %>'s card.<% } %></p>
        <textarea>
<div id="<%= slug %>-container"></div>
<script src="<%= pym_url %>"></script>
<script type="text/javascript">
(function() {
    var pymParent = new pym.Parent(
        '<%= slug %>-container',
        '<%= embed_url %>', {});
}());
</script></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default exit" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
