<div class="player">
  <div class="player-name-image">
    <div class="player-image">
      <a href="{{ url_for(player['Donor Name']|slugify) }}"><img src="http://www.fillmurray.com/280/320" /></a>
    </div>
    <div class="player-utils" data-player-slug="{{ player['Donor Name']|slugify }}" data-player-name="{{ player['Donor Name'] }}">
      <ul>
        {# <li><a class="more-info" href="#"><i class="icon icon-launch"></i> More information</a></li> #}
        <li><a class="embed" href="#"><i class="icon icon-embed"></i> Embed this card</a></li>
        <li><a class="copy-link" href="#"><i class="icon icon-link"></i> Copy link to this card</a></li>
      </ul>
    </div>
  </div>
  <div class="player-stats">
    <h2 class="player-name">
      <a href="{{ url_for(player['Donor Name']|slugify) }}">{{ player['Donor Name'] }}</a>
    </h2>

    <p class="city-state">{{ player['Donor City'] }}, {{ player['Donor State'] }}</p>
    <p class="title-business">{{ player['Business Title'] }}, {{ player['Business Name'] }}</p>

    <div class="contributions">
      <h3>Total contributions:</h3>
      <span class="currency">{% if player['Total given 2012-14'] %}{{ player['Total given 2012-14']|format_currency }}{% else %}{{ player['Total given 2011-14']|format_currency }}{% endif %}</span>
    </div>

    <div class="recipients">
      <h3>Top recipients</h3>
      <ol>
        {% for n in range(3) %}
          <li class="{{ loop.cycle('odd', 'even') }}"><span class="recipient">{{ player['Top Recipient %s' % loop.index] }}</span> <span class="currency">{{ player['Top Recipient 1 Amt']|format_currency }}</span></li>
        {% endfor %}
      </ol>
    </div>
    <div class="donation-breakdown">
      <h3>Where did the money go?</h3>
      <div class="donation-key">
        <ul>
          <li class="in-state"><span class="square"></span> In state</li>
          <li class="out-of-state"><span class="square"></span> Out of state</li>
          <li class="federal"><span class="square"></span> Federal</li>
        </ul>
      </div>
    </div>
  </div>
</div>
