<div class="player">
  <div class="player-name-image">
    <div class="player-image">
      <img src="http://www.fillmurray.com/300/300" />
    </div>
  </div>
  <div class="player-stats">
    <h2 class="player-name">{{ player['Donor name'] }}</h2>
    <p class="city-state">{{ player['Donor city'] }}, {{ player['Donor state'] }}</p>
    <p class="title-business">{{ player['Business title'] }}, {{ player['Business name'] }}</p>
    <p class="contributions">Total contributions: <span class="currency">{% if player['Total given 2012-14'] %}{{ player['Total given 2012-14']|format_currency }}{% else %}{{ player['Total given 2011-14']|format_currency }}{% endif %}</span></p>
    <div class="recipients">
      <p>Top recipients</p>
      <ol>
        {% for n in range(3) %}
          <li class="{{ loop.cycle('odd', 'even') }}"><span class="recipient">{{ player['top recipient %s' % loop.index] }}</span> <span class="currency">{{ player['top recipient 1 amt']|format_currency }}</span></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="donation-breakdown">
    <h3>Where the money goes</h3>
  </div>
  <div class="embed">
  </div>
</div>

