<div class="player">
  <div class="player-image-container">
    <div class="player-image">
      <a href="{{ url_for(player['Donor Name']|slugify) }}">
        {% if player['Picture Link'] %}
          <img src="{{ player['Picture Link'] }}" />
        {% else %}
          <img src="{{ url_for('assets', filename='nophotoimage.png') }}" />
        {% endif %}
        </a>
    </div>
  <div class="visible-sm visible-md visible-lg">
    {% include '_player_utils.html' %}
  </div>
  </div>
  <div class="player-stats clearfix">
    <h2 class="player-name">
      <a href="{{ url_for(player['Donor Name']|slugify) }}">{{ player['Donor Name'] }}</a>
    </h2>

    {% include '_three_stars.html' %}

    <p class="city-state">{{ player['Donor City'] }}{% if player['Donor State'] %}, {{ player['Donor State'] }}{% endif %}</p>
    <p class="title-business">{{ player['Business Title'] }}{% if player['Business Name'] %}, {{ player['Business Name'] }}{% endif %}</p>

    <div class="contributions">
      <h3>Total contributions:</h3>
      <span class="currency">{% if player['Total Given 2012-14'] %}{{ player['Total Given 2012-14']|format_currency }}{% else %}{{ player['Total Given 2011-14']|format_currency }}{% endif %}</span>
    </div>

    <div class="recipients">
      <h3>Top recipients</h3>
      <ol>
        {% for n in range(3) %}
          {% if player['Top Recipient %s Amt' % loop.index] %}
          <li class="{{ loop.cycle('odd', 'even') }}"><span class="recipient">{{ player['Top Recipient %s' % loop.index] }}</span> <span class="currency">{{ player['Top Recipient %s Amt' % loop.index]|format_currency }}</span></li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
    <div class="donation-breakdown {{ location_chart_class(player['Donor Name']) }}" data-player-slug="{{ player['Donor Name']|slugify }}">
      <h3>Where did the money go?<sup><span class="location-popover glyphicon glyphicon-asterisk" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{{ COPY.content.where_money_went }}"></span></sup></h3>
      <div class="donation-key">
        <ul>
          <li class="in-state"><span class="square"></span> State</li>
          <li class="federal"><span class="square"></span> Federal</li>
        </ul>
      </div>
      <div class="location-container">
        {{ location_chart(player['Donor Name'])|safe }}
      </div>
    </div>
  </div>
  <div class="player-utils-xs visible-xs">
    {% include '_player_utils.html' %}
  </div>
</div>
