<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                  <a href="{{ url_for('home') }}">{{ COPY.content.project_name|smarty }}</a>
                 </h1>
                 {% include '_three_stars.html' %}
                <div id="intro-copy">
                    {{ COPY.content.main_text|safe }}
                </div>
                 {% include '_three_stars.html' %}
            </div>
        </div>
    </div>
</header>
