<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                  <a href="{{ url_for('index') }}">{{ COPY.content.project_name|smarty }}</a>
                </h1>
                <div class="pubdate">{{ COPY.content.pubdate }}</div>
                {% include '_three_stars.html' %}
                {% if is_home %}
                  <div id="intro-copy">
                      {{ COPY.content.main_text|safe }}
                  </div>
                {% endif %}
                {% if is_state %}
                  <div class="state-header">
                    <h2>{{ state.name }}</h2>
                    <h3 class="member-name">{{ COPY.content['%s_member_name' % state.name|slugify] }}</h3>
                    {% if COPY.content['%s_blurb' % state.name|slugify] %}
                      <div id="state-intro-copy">
                          {{ COPY.content['%s_blurb' % state.name|slugify]|safe }}
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
