{% extends '_base.html' %}

{% block extra_css %}
  {{ CSS.push('css/stateface/stylesheet.css') }}
{% endblock extra_css %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.content.project_name|smarty }}</h1>
                <h2>{{ COPY.content.lorem_ipsum|smarty }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div id="select-a-state">
{% for slug, state in states.iteritems() %}
  <div class="state">
    <a href="/state/{{ slug }}">
      <span class="icon">{{ state|stateface }}</span>
      <span class="name">{{ state }}</span>
    </a>
  </div>
{% endfor %}
</div>
{% endblock %}

{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <p>{{ COPY.content.lorem_ipsum }}</p>
    </div>
</div>
{% endblock %}

{% include '_share_modal.html' %}
