{% extends '_base.html' %}

{% block header_content %}
  {% include '_power_players_header.html' %}
{% endblock %}

{% block content %}
<div id="select-a-state">
{% for slug, state in states %}
  <div class="state">
    <a href="state/{{ slug }}">
      <span class="icon">{{ state|stateface }}</span>
      <span class="name">{{ state }}</span>
      <span class="member-name">{{ COPY.content['%s_member_name' % state|slugify] }}</span>
    </a>
  </div>
{% endfor %}
</div>
{% endblock %}

{% block wide_content %}
<div class="row">
    <div class="col-md-12 about-data-and-sources footnotes">
        <p>{{ COPY.content.about_data }}</p>
        <p>{{ COPY.content.data_sources }}</p>
        <p>{{ COPY.content.data_url }}</p>
    </div>
</div>
{% endblock %}
