{% extends '_empty_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.content.project_name|smarty }}</h1>
                <h2>{{ COPY.content.lorem_ipsum|smarty }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
  {% include '_player.html' %}
{% endblock %}


{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <p>{{ COPY.content.lorem_ipsum }}</p>
    </div>
</div>
{% endblock %}
