{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.content.project_name|smarty }}</h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
  {% include '_player.html' %}
{% endblock %}

{% block extra_foot_js %}
<script type="text/javascript">
  var STATE_LOCATION_JSON = PLAYER_LOCATION_JSON = {{ player.location_data|safe }};
</script>
{% endblock extra_foot_js %}
