{% extends '_base.html' %}

{% block header_content %}
  {% include '_power_players_header.html' %}
{% endblock %}

{% block content %}
<div class="state-header">
  <h2>{{ state.name }}</h2>
  <h3>Top 10 Power Players</h3>
  {% if COPY.content['%s_blurb' % state.name|slugify] %}
    <div id="state-intro-copy">
        {{ COPY.content['%s_blurb' % state.name|slugify]|safe }}
    </div>
  {% endif %}
</div>
{% include '_state_utils.html' %}
<div class="player-list">
  {% for player in state.data[:10] %}
    {% include '_player.html' %}
  {% endfor %}
</div>
{% endblock %}

{% block wide_content %}
<div class="row">
    <div class="col-md-12 footnotes">
        <p>{{ COPY.content.about_data }}</p>
        <p>{{ COPY.content.data_sources }}</p>
        <p>{{ COPY.content.data_url }}</p>
    </div>
</div>
{% endblock %}
