{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.content.project_name|smarty }}</h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<h2>{{ state.name }}'s Top Ten Power Players</h2>
<div class="player-list">
  {% for player in state.data[:10] %}
    {% include '_player.html' %}
  {% endfor %}
</div>
{% endblock %}


{% block wide_content %}
{% endblock %}

{% block extra_foot_js %}
<script type="text/javascript">
  var STATE_LOCATION_JSON = {{ state.location_data|safe }};
</script>
{% endblock extra_foot_js %}
