{% extends '_base.html' %}

{% block header_content %}
  {% include '_power_players_header.html' %}
{% endblock %}

{% block content %}

{% include '_state_utils.html' %}
<div class="player-list">
  {% for player in state.data[:10] %}
    {% include '_player.html' %}
  {% endfor %}
</div>
{% endblock %}

{% block wide_content %}
<div class="row">
    <div class="col-md-12 footnotes">
        <p>{{ COPY.content.about_data }}</p>
        <p>{{ COPY.content.data_sources }}</p>
        <p>{{ COPY.content.data_url }}</p>
    </div>
</div>
{% endblock %}
